terratowns_endpoint="https://terratowns.cloud/api"
toyland = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/toyland"
  content_version = 1 
}
camping = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/camping"
  content_version = 1 
}