user_uuid="f9c824b6-75f2-4634-8519-75c3ca156efd"
bucket_name="sedrltz5dyfzep6s"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=1